* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


button {
    border: none;
    background: transparent;
    cursor: pointer;
}

body {
    font-family: 'gagalin';
    font-size: 16px;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}