.accordion {
    color: #fff;
    padding: 0 4%;
}

.accordion__item {
    margin-bottom: rem(20px);

    &:last-child {
        margin-bottom: 0;
    }
}


.accordion__trigger {
    color: #fff;
    font-weight: 400;
    font-size: rem(14px);
    margin-bottom: 4%;
    position: relative;
    display: inline-flex;
    align-items: center;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        display: block;
        border-left: rem(4px) solid transparent;
        border-right: rem(4px) solid transparent;
        border-top: rem(8px) solid #f9b43b;
        margin-left: rem(-18px);
    }

}

.accordion__block {
    display: flex;
    justify-content: space-between;
    font-size: rem(14px);
    font-family: 'ubuntu';
    height: 0;
    overflow: hidden;
    transition: .5s all;

    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 22%;
    }
}


.accordion__pic {
    margin-right: rem(20px);

    @include tablets {
        margin: 0 0 3% 0;

    }
}

.accordion__avatar {
    width: rem(105px);
    height: rem(105px);
    border-radius: 50%;
    overflow: hidden;

}

.accordion__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion__title {
    font-weight: 700;
    margin-bottom: rem(18px);
}

.accordion__descr {
    font-weight: 300;
    line-height: 1.714;
    width: 64%;

    @include tablets {
        width: 100%;
    }

    @include phones {
        font-size: rem(13px);
    }
}


.accordion__item--active .accordion__block {
    height: 100%;
}

.accordion__item--active .accordion__trigger {
    color: #f9b43b;
}

.accordion__item--active .accordion__trigger:before {
    transform: rotate(180deg);
}



.accordion--horisontal {
    display: flex;
    height: 100%;
    position: relative;
    padding: 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsla(204, 5%, 19%, 0.849);
    }
}

.accordion--horisontal .accordion__item {
    display: flex;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    margin: 0;
}

.accordion--horisontal .accordion__trigger {
    display: block;
    @include flex-center;
    width: rem(80px);
    margin-bottom: 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsla(204, 5%, 19%, 0.849);
    }

    @include phones {
        width: rem(40px);
    }

    &:before {
        display: none;
    }

    &--bg1 {
        background: url("../images/menu/menu-burger1.jpg")center center / cover no-repeat;
    }

    &--bg2 {
        background: url("../images/menu/dietary.jpg") center center / cover no-repeat;
    }

    &--bg3 {
        background: url("../images/menu/vegetarian.jpg") center center / cover no-repeat;
    }
}

.accordion--horisontal .accordion__title {
    font-size: px-to-rem(40px);
    color: #fff;
    font-family: "Gagalin";
    line-height: 1.601;
    margin: 0;
    white-space: nowrap;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 5%;
    z-index: 9;

    @include phones {
        font-size: px-to-rem(25px);
    }
}

.accordion--horisontal .accordion__active-block {
    color: #fff;
    height: 100%;
    padding: rem(0px);
    margin: 0;
    width: 0;
    overflow: hidden;
}

.accordion--horisontal .accordion__text {
    text-align: left;
    margin: 0;
    padding: 10% 8%;
    z-index: 9;

    @include phones {
        padding: 5% 5%;
    }
}

.accordion--horisontal .accordion__descr {
    width: 100%;

    @include phones {
        font-size: rem(12px);
    }
}

.accordion--horisontal .accordion__item--active .accordion__active-block {
    width: rem(400px);
    position: relative;

    @include phones {
        // width: rem(200px);
    }
}

.accordion--horisontal .accordion__item--active .accordion__title {
    color: rgb(249, 180, 59);
}

// background: linear-gradient(to bottom, #f9b33b 0%, #f2a23a 27%, #f19e39 64%, #ef9739 82%, #f9b33b 100%);