.calories {
    height: 80px;
    width: 60px;
    bottom: 0;
    left: 0;
    position: absolute;
    color: #fff;

    @include tablets {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
    }

    @include phones {
        height: 70px;
        width: 50px;
    }
}

.calories__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calories__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}