.delivery {
    background: url("../images/form/bg-texture.png")center center/cover no-repeat;
}

.delivery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}