.footer {
    background: url("../images/footer-bg.jpg") center center / cover no-repeat;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: rem(14px);
    color: #fff;
    font-family: 'ubuntu';
    font-weight: 300;

    @include tablets {
        font-size: rem(13px);
    }

    @include phones {
        font-size: rem(12px);
    }
}

.footer .container {
    @include flex-between;
    padding: 1% 0;

    @include phones {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.footer__contacts {
    width: 50%;

    @include phones {
        width: 100%;
    }
}


.footer__socials {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include phones {
        justify-content: center;
    }
}

.footer__link {
    color: #e35028;
    font-weight: 500;
}

.footer__address {
    margin-bottom: rem(3px);
}

.phone {
    display: inline-flex;
    align-items: center;
}

.phone__icon {
    width: rem(15px);
    height: rem(15px);
    margin-top: 3%;
}