.form {
    font-size: rem(14px);
    color: #fff;
    font-family: 'ubuntu';
    font-weight: 300;
    display: flex;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
        align-items: center;
        padding: 0 17%;
    }

    @include phones {
        font-size: rem(12px);
        padding: 0;
    }
}

.form__col {
    width: 50%;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin: 0;
        width: 100%;
    }
}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    @include phones {
        margin-right: rem(7px);
    }
}

.form__title {
    margin-bottom: rem(5px);
}

.form__input {
    width: 100%;
    padding: rem(8px) rem(20px);
    border: none;
    border-radius: rem(4px);
    outline: none;
    border: rem(2px) solid transparent;

    &:focus {
        border: rem(2px) solid #f9b43b;
    }
}


.form__row {
    display: flex;
    margin-bottom: rem(14px);

    &--no-margin {
        margin: 0;
    }
}

.form__row--width {

    @include phones {
        width: 60%;
    }
}

.form__row--width-tu {

    @include phones {
        width: 28%;
    }
}

.form__textarea {
    width: 100%;
    padding: 7.5%;
}

.form__buttons {
    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form__radio {
    display: flex;
    align-items: center;
    margin-right: rem(10px);

    &:last-child {
        margin-right: 0;
    }
}

.form__radio-title {
    cursor: pointer;
}

.form__radio-elem {
    display: none;
}

.form__radio-fake {
    width: rem(15px);
    height: rem(15px);
    background-color: #fff;
    border-radius: 50%;
    @include flex-center;
    cursor: pointer;
    margin-right: rem(5px);
}

.form__radio-fake:before {
    content: "";
    width: rem(5px);
    height: rem(5px);
    border-radius: 50%;
    background: transparent;
    background-color: #e35028;
    opacity: 0;
    transition: .3s;
}

.form__radio-elem:checked+.form__radio-fake:before {
    opacity: 1;
}

.form__radio-fake--check {
    width: rem(15px);
    height: rem(15px);
    @include flex-center;
    background-color: #fff;
    margin-right: rem(5px);
    flex-shrink: 0;
}

.form__radio-fake--check:before {
    content: "";
    position: absolute;
    display: block;
    border-left: rem(2px) solid #e35028;
    border-bottom: rem(2px) solid #e35028;
    width: rem(8px);
    height: rem(5px);
    transform: rotate(-45deg);
    opacity: 0;
    transition: .3s;
}

.form__radio-elem:checked+.form__radio-fake--check:before {
    opacity: 1;
}