.hero {
    background: url("../images/Rectangle\ 11.jpg") center center / cover no-repeat;
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hero__block {
    flex: .8;
    @include flex-center;

    @include tablets {
        flex-direction: column;
        padding: 0 11%;
    }

    @include phones {
        padding: 0;
    }
}

.hero__item {
    width: 50%;

    @include tablets {
        margin: 0 0 5% 0;
    }
}

.hero__text {
    width: 50%;
    padding: 10% 0 0 0;

    @include tablets {
        width: auto;
        text-align: center;
        padding: 0;
    }
}

.hero__subtitle {
    font-size: rem(65px);
    font-family: 'lifehack';
    color: #fff;
    font-weight: 500;

    @include tablets {
        font-size: rem(55px);
    }

    @include phones {
        font-size: rem(40px);
    }
}