.hero {
    background: url("../images/Rectangle\ 11.jpg") center center / cover no-repeat;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__block {
        flex: .8;
        @include flex-center;
    }

    &__item {
        width: 50%;
    }

    &__text {
        width: 50%;
    }

    &__subtitle {
        font-size: px-to-rem(65px);
        font-family: 'lifehack';
        color: #fff;
        font-weight: 500;
    }

}