.nav {
    margin-left: auto;

    &__list {
        @include flex-between;
    }

    &__item {
        margin-left: 15px;
        @include flex-center;

        &:first-child {
            margin-left: 0;
        }

        &:after {
            content: "";
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #fff;
            margin-left: 15px;
        }

        &--none {
            &:after {
                display: none;
            }
        }
    }

    &__link {
        color: #fff;
        font-size: px-to-rem(13px);
        text-transform: uppercase;
        line-height: 2.308;
        font-family: 'ubuntu';
        font-weight: 500;
        position: relative;
        display: block;

    }
}