.reviews {

    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 25%;
        height: 50%;
        position: relative;
        cursor: pointer;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__block {
        position: absolute;
        top: 15%;
        color: #fff;
        font-size: px-to-rem(14px);
        padding: 0 45px;
        opacity: 0;
        transform: scale(0);
        transition: .5s;
    }

    &__title {
        font-family: 'gagalin';
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__descr {
        p {
            font-family: 'ubuntu';
            font-weight: 300;
            line-height: 1.714;
            margin-bottom: 30px;
        }
    }
}

.reviews__item {
    &:hover {
        .reviews__block {
            opacity: 1;
            transform: scale(1);
        }
    }
}