.team {
    background: url("../images/command/command-bg.jpg") center top / cover no-repeat;
    position: relative;
}

.team__right-block {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background-color: #343739e7;
    padding: 9% 7% 0 7%;

    @include tablets {
        text-align: center;
        left: 0;
    }
}