.the-best {
    background: url("../images/the-best-bg.jpg")center center / cover no-repeat;
}

.the-best__container {
    padding: 7.5% 0;
}

.the-best__list {
    display: flex;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
    }
}

.the-best__item {
    flex: 1;
    flex-wrap: wrap;
    padding: .4%;
    @include flex-column;
    text-align: center;

    @include phones {
        flex-direction: row;
        margin-bottom: 6%;
    }
}

.the-best__icon {
    margin-bottom: 5%;
    display: block;
    width: rem(100px);
    height: rem(100px);

    @include phones {
        margin: 0 3% 0 0;
    }
}

.the-best__text {
    @include phones {
        flex: 1;
        text-align: left;
    }
}

.the-best-chiken {
    width: rem(100px);
    height: rem(100px);

    @include phones {
        width: rem(90px);
        height: rem(90px);
    }
}

.the-best-hand {
    width: rem(73px);
    height: rem(87px)
}

.the-best-natural {
    width: rem(84px);
    height: rem(77px);
}

.the-best__subtitle {
    font-size: rem(24px);
    font-family: "Lifehack";
    color: #4b4c4e;
    line-height: 1.167;
    margin-bottom: 5%;

    @include phones {
        font-size: rem(20px);
        margin-bottom: 1%;
    }
}

.the-best__descr p {
    font-size: rem(14px);
    font-family: "Ubuntu";
    color: #adaaa7;
    line-height: 1.714;

    @include phones {
        font-size: rem(13px);
        line-height: 1.4;
    }
}


// .no-scroll {

//     @include tablets {
//         overflow: hidden;
//         height: 100%;
//     }
// }